In [26]:
#a

In [28]:
name=[]
skill=[]

while(True):
    c=input("are want enter another employee y or n:\n")
    if(c=="y"):
    
        while(True):
            a=input("enter name of employee :\n")
            name.append(a)
            t=[]
            print("enter skills (**press n after done**)\n")
            while(True):
                b=input()
                if(b!="n"):
                    t.append(b)
                else:
                    break
            skill.append(t)
            break
    if(c=="n"):
        break
print(name)
print(skill)

re=list(zip(name,skill))
print(re)

are want enter another employee y or n:
 y
enter name of employee :
 ravi

enter skills (**press n after done**)

 python
 sql
 n
are want enter another employee y or n:
 y
enter name of employee :
 neha

enter skills (**press n after done**)

 java
 python
 n
are want enter another employee y or n:
 y
enter name of employee :
 puja

enter skills (**press n after done**)

 c++
 html
 n
are want enter another employee y or n:
 y
enter name of employee :
 amit

enter skills (**press n after done**)

 sql
 c++
 n
are want enter another employee y or n:
 n

['ravi', 'neha', 'puja', 'amit']
[['python', 'sql'], ['java', 'python'], ['c++', 'html'], ['sql', 'c++']]
[('ravi', ['python', 'sql']), ('neha', ['java', 'python']), ('puja', ['c++', 'html']), ('amit', ['sql', 'c++'])]

In [30]:
#1

In [35]:
for i in range(len(re)):
    if ("python" in re[i][1] and "sql" in re[i][1]):
        print(re[i][0])

ravi

In [36]:
#2

In [39]:
us =set()

for i in re:
    for j in i[1]:
        us.add(j)

print(us)

{'html', 'java', 'sql', 'c++', 'python'}

In [40]:
#3

In [44]:
en = input("Enter employee name: ")
es = set()
for i in range(len(re)):
    if re[i][0] == en:
        es = set(re[i][1])
        break
c = 0
for i in range(len(re)):
    if re[i][0] != en:
        if es.intersection(re[i][1]):
            c += 1

print("no. of emp", c)

Enter employee name:  ravi

no. of emp 2