In [5]:
l=[]
dest=[]
date=[]

while(True):
    c=input("are want enter  travller y or n:\n")
    if(c=="y"):
            t=[]
            a=input("enter name  :\n")
            b=input("enter destination   :\n")
            c=input("enter  date  :\n")
            t.append(a)
            t.append(b)
            t.append(c)
            l.append(t)
            
            
    if(c=="n"):
        break
print(l)

are want enter  travller y or n:
 y
enter name  :
 ravi
enter destination   :
 pune
enter  date  :
 1-1-26
are want enter  travller y or n:
 y
enter name  :
 neha
enter destination   :
 goa
enter  date  :
 2-1-26
are want enter  travller y or n:
 y
enter name  :
 ravi
enter destination   :
 pune
enter  date  :
 1-1-26
are want enter  travller y or n:
 y
enter name  :
 puja
enter destination   :
 nashik
enter  date  :
 3-1-26
are want enter  travller y or n:
 y
enter name  :
 amit
enter destination   :
 pune
enter  date  :
 4-1-26
are want enter  travller y or n:
 n

[['ravi', 'pune', '1-1-26'], ['neha', 'goa', '2-1-26'], ['ravi', 'pune', '1-1-26'], ['puja', 'nashik', '3-1-26'], ['amit', 'pune', '4-1-26']]

In [8]:
s=set(tuple(i) for i in l)

print(s)

{('neha', 'goa', '2-1-26'), ('puja', 'nashik', '3-1-26'), ('ravi', 'pune', '1-1-26'), ('amit', 'pune', '4-1-26')}

In [9]:
e=set()
for i in range(len(l)):
    e.add(l[i][1])
print(e)

{'goa', 'pune', 'nashik'}

In [11]:
from collections import Counter
l1=[i[1] for i in l]
c=Counter(l1)
t=c.most_common(3)
print(t)

[('pune', 3), ('goa', 1), ('nashik', 1)]